@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
